html {
    scroll-behavior: smooth;
    }

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: $gris;
    font-weight: $light;
    font-style: italic;
    }

.gap-1 {
    padding: 1.5rem;
}

.master--view {
    background-image: url(../images/bg-general.png);
}

.header--view {
    background-color: $blanco;
}

.slider--view{
    height: 300px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.legal-seguros {
    transform: rotate(270deg);
    position: absolute;
    right: -60px;
    top: 130px;
    img{
        width: 160px;
    }
}

.slider-images{
    position: absolute;
    top: 25px;
    z-index: 10;
    width: 100%;
}

.contenedor-slider{
    display: flex;
    justify-content: center;
}

.slider-background{
    background-image: url(../images/slider.png);
    background-size: cover;
    height: 300px;
    z-index: 20;
}

.slider-imagen-1 {
    padding: 0rem 5rem;
    img{
        height: 350px;
    }
}

.slider-imagen-2 {
    padding: 0rem 5rem;
    padding-top: 4rem;
    align-self: center;
}

.slider-imagen-2 {
    img{
        width: 300px;
    }
}

.header-logo {
    padding: 1rem;
    img{
        width: 150px;
    }
}

.content-1-image{
    img{
        width: 150px;
    }
}

.video-cnt{
    max-width: 534px;
    width: 100%;
    height: 350px;
}

// Carousel

.image-carousel{
    img{
        width: 100px;
    }
}

.contetn-3-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-3-carousel {
    background-color: $grisClaro;
    border-radius: 1rem;
    max-width: 650px;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel-control-prev-icon {
    background-image: url(../images/arrowleft.svg);
    background-size:cover;
    background-position: center;
}

.carousel-control-next-icon {
    background-image: url(../images/arrowright.svg);
    background-size:cover;
    background-position: center;
}

// Carousel

.box-4-badge{
    max-width: 480px;
    border-radius: 20px;
}

.content-5-item {
    background-color: $blanco;
    height: 300px;
    border-radius: 10px;
}


.content-5-header{
    img{
        width: 140px;
    }
}

.item-5-header{
    img{
        width: 90px;
    }
}

.bg-image-1 {
    background: url(../images/backgroundjelpit.png) no-repeat center top;
    background-size:cover;
}

.bg-image-2 {
    background: url(../images/bgamarillo_xl.png);
    background-size: cover;
}

.content-7-inputs{
    max-width: 450px;
    width: 100%;
    
}

.form-control {
    text-align: center;
    font-weight: $light;
    font-size: 20px;
    font-style: italic;
    padding: 1.5rem;
    margin-top: 1rem;
    border-radius: 2rem;
}

.form-control:focus {
    border-color: $verde;
}

.content-estrellas {
    position: relative;
    padding: 1rem;
}


.content-estrellas-vigilado{
    position: absolute;
    transform: rotate(270deg);
    left: -60px;
    top: 110px;
    img{
        width: 160px;
    }
}

.footer {
    background-color: $gris;
    padding: 2rem;
    p{
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: $bold;
        color: $blanco;
        text-align: center;
    }
}


