@media only screen and (max-width: 750px) {
    .slider-imagen-1 {
        padding: 0rem 1rem;
        img {
            height: 351px;
            position: absolute;
            z-index: -1;
            left: 10%;
        }
    }

    .slider-imagen-2 {
        padding: 0rem 0rem;
        position: relative;
        top: 13rem;
        left: 50px;
        img {
            width: 150px;
        }
    }

    .slider-images{
        position: absolute;
        top: 106px;
        z-index: 10;
        width: 100%;
    }

    .slider-background{
        background-image: url(../images/slider.png);
        background-size: cover;
        height: 380px;
        z-index: 20;
    }

    .content-5-item{
        height: 400px;
    }
}

@media only screen and (min-width: 850px) {
    .slider-imagen-1 {
        padding: 0rem 5rem;
        img {
            height: 350px;
            display: block;
        }
    }
    .slider-imagen-2 {
        padding: 0rem 5rem;
        padding-top: 6rem;
        align-self: center;
        img {
            width: 300px;
        }
    }
    .bg-image-2 {
        background-image: url(../images/bgamarillo_desk.png);
        background-size: cover;
    }
}

