@media only screen and (max-width: 600px) {
    .contenedor-slider{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .slider-imagen-1 {
        img{
            display:none;
        }
    }
    
    .slider-imagen-2 {
        padding-top: 3.5rem;
        img{
            height: 200px;
            mix-blend-mode: multiply;
            opacity: .85;
        }
    }
    
    .slider-imagen-3 {
        img{
            display:none;
            height: 278px;
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }

    .content-5-item {
        background-color: $blanco;
        height: 350px;
        border-radius: 10px;
    }
    
    .slider-background{
        background-image: url(../images/background320.png);
        background-size: cover;
        height: 300px;
        z-index: 20;
    }
}


@media only screen and (max-width: 1200px) {
    .slider-imagen-1 {
        img{
            display:none;
        }
    }
    
    .slider-imagen-2 {
        padding-top: 3.5rem;
        img{
            height: 200px;
            mix-blend-mode: multiply;
            opacity: .85;
        }
    }
    
    .slider-imagen-3 {
        img{
            display:none;
            height: 278px;
            -webkit-transform: scaleX(-1);
            -moz-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";
        }
    }

    .slider-background{
        background-image: url(../images/background1200.png);
        background-size: cover;
        height: 300px;
        z-index: 20;
    }
}
