@charset "UTF-8";
.bfix {
  border: 1px solid red;
}

.bold {
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.strong {
  font-weight: 600;
}

.text {
  font-weight: 300;
}

.verde {
  color: #016d38;
}

.amarillo {
  color: #FFDC5D;
}

.morado {
  color: #2e0063;
}

.gris {
  color: #5F6060;
}

.blanco {
  color: #ffffff;
}

.bg-verde {
  background-color: #016d38;
}

.bg-amarillo {
  background-color: #FFDC5D;
}

.bg-blanco {
  background-color: #ffffff;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem;
}
.background p {
  margin: 0;
}

.btn-verde {
  color: #fff;
  background-color: #016d38;
  border-color: #016d38;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  font-weight: 600;
  padding: 0.5rem 4rem;
  border-radius: 2rem;
  text-transform: uppercase;
}
.btn-verde:hover {
  color: #FFDC5D;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  color: #5F6060;
  font-weight: 300;
  font-style: italic;
}

.gap-1 {
  padding: 1.5rem;
}

.master--view {
  background-image: url(../images/bg-general.png);
}

.header--view {
  background-color: #ffffff;
}

.slider--view {
  height: 300px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.legal-seguros {
  transform: rotate(270deg);
  position: absolute;
  right: -60px;
  top: 130px;
}
.legal-seguros img {
  width: 160px;
}

.slider-images {
  position: absolute;
  top: 25px;
  z-index: 10;
  width: 100%;
}

.contenedor-slider {
  display: flex;
  justify-content: center;
}

.slider-background {
  background-image: url(../images/slider.png);
  background-size: cover;
  height: 300px;
  z-index: 20;
}

.slider-imagen-1 {
  padding: 0rem 5rem;
}
.slider-imagen-1 img {
  height: 350px;
}

.slider-imagen-2 {
  padding: 0rem 5rem;
  padding-top: 4rem;
  align-self: center;
}

.slider-imagen-2 img {
  width: 300px;
}

.header-logo {
  padding: 1rem;
}
.header-logo img {
  width: 150px;
}

.content-1-image img {
  width: 150px;
}

.video-cnt {
  max-width: 534px;
  width: 100%;
  height: 350px;
}

.image-carousel img {
  width: 100px;
}

.contetn-3-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-3-carousel {
  background-color: #eaeaea;
  border-radius: 1rem;
  max-width: 650px;
}

.carousel-control-next, .carousel-control-prev {
  width: 5%;
}

.carousel-control-prev-icon {
  background-image: url(../images/arrowleft.svg);
  background-size: cover;
  background-position: center;
}

.carousel-control-next-icon {
  background-image: url(../images/arrowright.svg);
  background-size: cover;
  background-position: center;
}

.box-4-badge {
  max-width: 480px;
  border-radius: 20px;
}

.content-5-item {
  background-color: #ffffff;
  height: 300px;
  border-radius: 10px;
}

.content-5-header img {
  width: 140px;
}

.item-5-header img {
  width: 90px;
}

.bg-image-1 {
  background: url(../images/backgroundjelpit.png) no-repeat center top;
  background-size: cover;
}

.bg-image-2 {
  background: url(../images/bgamarillo_xl.png);
  background-size: cover;
}

.content-7-inputs {
  max-width: 450px;
  width: 100%;
}

.form-control {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: 2rem;
}

.form-control:focus {
  border-color: #016d38;
}

.content-estrellas {
  position: relative;
  padding: 1rem;
}

.content-estrellas-vigilado {
  position: absolute;
  transform: rotate(270deg);
  left: -60px;
  top: 80px;
}
.content-estrellas-vigilado img {
  width: 160px;
}

.footer {
  background-color: #5F6060;
  padding: 2rem;
}
.footer p {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.stars {
  font-size: 20;
  display: inline-block;
}

.stars a {
  text-decoration: none;
  display: inline-block;
  /* Volver a dar tamaÃ±o al texto */
  font-size: 32px;
  font-size: 3rem;
  color: #e0e0e0;
}

.stars:hover a {
  color: #ffdc5d;
}

/* El selector de hijo, es necesario para aumentar la especifidad*/
.stars > a:hover ~ a {
  color: #e0e0e0;
}

@media only screen and (max-width: 750px) {
  .slider-imagen-1 {
    padding: 0rem 1rem;
  }
  .slider-imagen-1 img {
    height: 351px;
    position: absolute;
    z-index: -1;
    left: 10%;
  }

  .slider-imagen-2 {
    padding: 0rem 0rem;
    position: relative;
    top: 0.2rem;
    left: 50px;
  }
  .slider-imagen-2 img {
    width: 150px;
  }

  .slider-images {
    position: absolute;
    top: 106px;
    z-index: 10;
    width: 100%;
  }

  .slider-background {
    background-image: url(../images/slider.png);
    background-size: cover;
    height: 380px;
    z-index: 20;
  }

  .content-5-item {
    height: 400px;
  }
}
@media only screen and (min-width: 850px) {
  .slider-imagen-1 {
    padding: 0rem 5rem;
  }
  .slider-imagen-1 img {
    height: 350px;
    display: block;
  }

  .slider-imagen-2 {
    padding: 0rem 5rem;
    padding-top: 6rem;
    align-self: center;
  }
  .slider-imagen-2 img {
    width: 300px;
  }

  .bg-image-2 {
    background-image: url(../images/bgamarillo_desk.png);
    background-size: cover;
  }
}

/*# sourceMappingURL=styles.css.map */
